/*
 * marvelcomics_lib
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ) on 05/25/2016
 */
package characters_pkg


import(
	"encoding/json"
	"marvelcomics_lib/models_pkg"
	"github.com/apimatic/unirest-go"
	"marvelcomics_lib"
	"marvelcomics_lib/apihelper_pkg"
)
/*
 * Client structure as interface implementation
 */
type CHARACTERS_IMPL struct { }

/**
 * Fetches a single character by id.
 * @param    string        characterId     parameter: Required
 * @return	Returns the *models_pkg.Character response from the API call
 */
func (me *CHARACTERS_IMPL) GetCharacterIndividual (
            characterId string) (*models_pkg.Character, error) {
        //the base uri for api requests
    _queryBuilder := marvelcomics_lib.BASEURI;

    //prepare query string for API call
   _queryBuilder = _queryBuilder + "/characters/{characterId}"

    //variable to hold errors
    var err error = nil
    //process optional query parameters
    _queryBuilder, err = apihelper_pkg.AppendUrlWithTemplateParameters(_queryBuilder, map[string]interface{} {
        "characterId" : characterId,
    })
    if err != nil {
        //error in template param handling
        return nil, err
    }

    //process optional query parameters
    _queryBuilder, err = apihelper_pkg.AppendUrlWithQueryParameters(_queryBuilder, map[string]interface{} {
        "apikey" : marvelcomics_lib.Config.Apikey,
    })
    if err != nil {
        //error in query param handling
        return nil, err
    }

    //validate and preprocess url
    _queryBuilder, err = apihelper_pkg.CleanUrl(_queryBuilder)
    if err != nil {
        //error in url validation or cleaning
        return nil, err
    }

    //prepare headers for the outgoing request
    headers := map[string]interface{} {
        "user-agent" : "APIMATIC 2.0",
        "accept" : "application/json",
    }

    //prepare API request
    _request := unirest.Get(_queryBuilder, headers)
    //and invoke the API call request to fetch the response
    _response, err := unirest.AsString(_request);
    if err != nil {
        //error in API invocation
        return nil, err
    }

    //error handling using HTTP status codes
    if (_response.Code == 404) {
        err = apihelper_pkg.NewAPIError("Character not found.", _response.Code, _response.RawBody)
    } else if (_response.Code < 200) || (_response.Code > 206) { //[200,206] = HTTP OK
            err = apihelper_pkg.NewAPIError("HTTP Response Not OK", _response.Code, _response.RawBody)
        }
    if(err != nil) {
        //error detected in status code validation
        return nil, err
    }

    //returning the response
    var retVal *models_pkg.Character = &models_pkg.Character{}
    err = json.Unmarshal(_response.RawBody, &retVal)

    if err != nil {
        //error in parsing
        return nil, err
    }
    return retVal, nil
}

/**
 * Fetches lists of comics filtered by a character id.
 * @param    string                               characterId           parameter: Required
 * @param    *string                              collaborators         parameter: Optional
 * @param    *string                              creators              parameter: Optional
 * @param    models_pkg.DateDescriptorEnum        dateDescriptor        parameter: Optional
 * @param    *string                              dateRange             parameter: Optional
 * @param    *string                              diamondCode           parameter: Optional
 * @param    *string                              digitalId             parameter: Optional
 * @param    *string                              ean                   parameter: Optional
 * @param    *string                              events                parameter: Optional
 * @param    *string                              format                parameter: Optional
 * @param    models_pkg.FormatTypeEnum            formatType            parameter: Optional
 * @param    *string                              hasDigitalIssue       parameter: Optional
 * @param    *string                              isbn                  parameter: Optional
 * @param    *string                              issn                  parameter: Optional
 * @param    *string                              issueNumber           parameter: Optional
 * @param    *string                              limit                 parameter: Optional
 * @param    *string                              modifiedSince         parameter: Optional
 * @param    *string                              noVariants            parameter: Optional
 * @param    *string                              offset                parameter: Optional
 * @param    *string                              orderBy               parameter: Optional
 * @param    *string                              series                parameter: Optional
 * @param    *string                              sharedAppearances     parameter: Optional
 * @param    *string                              startYear             parameter: Optional
 * @param    *string                              stories               parameter: Optional
 * @param    *string                              title                 parameter: Optional
 * @param    *string                              titleStartsWith       parameter: Optional
 * @param    *string                              upc                   parameter: Optional
 * @return	Returns the *models_pkg.ComicDataWrapper response from the API call
 */
func (me *CHARACTERS_IMPL) GetComicsCharacterCollection (
            characterId string,
            collaborators *string,
            creators *string,
            dateDescriptor models_pkg.DateDescriptorEnum,
            dateRange *string,
            diamondCode *string,
            digitalId *string,
            ean *string,
            events *string,
            format *string,
            formatType models_pkg.FormatTypeEnum,
            hasDigitalIssue *string,
            isbn *string,
            issn *string,
            issueNumber *string,
            limit *string,
            modifiedSince *string,
            noVariants *string,
            offset *string,
            orderBy *string,
            series *string,
            sharedAppearances *string,
            startYear *string,
            stories *string,
            title *string,
            titleStartsWith *string,
            upc *string) (*models_pkg.ComicDataWrapper, error) {
        //the base uri for api requests
    _queryBuilder := marvelcomics_lib.BASEURI;

    //prepare query string for API call
   _queryBuilder = _queryBuilder + "/characters/{characterId}/comics"

    //variable to hold errors
    var err error = nil
    //process optional query parameters
    _queryBuilder, err = apihelper_pkg.AppendUrlWithTemplateParameters(_queryBuilder, map[string]interface{} {
        "characterId" : characterId,
    })
    if err != nil {
        //error in template param handling
        return nil, err
    }

    //process optional query parameters
    _queryBuilder, err = apihelper_pkg.AppendUrlWithQueryParameters(_queryBuilder, map[string]interface{} {
        "collaborators" : collaborators,
        "creators" : creators,
        "dateDescriptor" : models_pkg.DateDescriptorEnumToValue(dateDescriptor),
        "dateRange" : dateRange,
        "diamondCode" : diamondCode,
        "digitalId" : digitalId,
        "ean" : ean,
        "events" : events,
        "format" : format,
        "formatType" : models_pkg.FormatTypeEnumToValue(formatType),
        "hasDigitalIssue" : hasDigitalIssue,
        "isbn" : isbn,
        "issn" : issn,
        "issueNumber" : issueNumber,
        "limit" : limit,
        "modifiedSince" : modifiedSince,
        "noVariants" : noVariants,
        "offset" : offset,
        "orderBy" : orderBy,
        "series" : series,
        "sharedAppearances" : sharedAppearances,
        "startYear" : startYear,
        "stories" : stories,
        "title" : title,
        "titleStartsWith" : titleStartsWith,
        "upc" : upc,
        "apikey" : marvelcomics_lib.Config.Apikey,
    })
    if err != nil {
        //error in query param handling
        return nil, err
    }

    //validate and preprocess url
    _queryBuilder, err = apihelper_pkg.CleanUrl(_queryBuilder)
    if err != nil {
        //error in url validation or cleaning
        return nil, err
    }

    //prepare headers for the outgoing request
    headers := map[string]interface{} {
        "user-agent" : "APIMATIC 2.0",
        "accept" : "application/json",
    }

    //prepare API request
    _request := unirest.Get(_queryBuilder, headers)
    //and invoke the API call request to fetch the response
    _response, err := unirest.AsString(_request);
    if err != nil {
        //error in API invocation
        return nil, err
    }

    //error handling using HTTP status codes
    if (_response.Code == 409) {
        err = apihelper_pkg.NewAPIError("Limit greater than 100.", _response.Code, _response.RawBody)
    } else if (_response.Code < 200) || (_response.Code > 206) { //[200,206] = HTTP OK
            err = apihelper_pkg.NewAPIError("HTTP Response Not OK", _response.Code, _response.RawBody)
        }
    if(err != nil) {
        //error detected in status code validation
        return nil, err
    }

    //returning the response
    var retVal *models_pkg.ComicDataWrapper = &models_pkg.ComicDataWrapper{}
    err = json.Unmarshal(_response.RawBody, &retVal)

    if err != nil {
        //error in parsing
        return nil, err
    }
    return retVal, nil
}

/**
 * Fetches lists of events filtered by a character id.
 * @param    string         characterId        parameter: Required
 * @param    *string        comics             parameter: Optional
 * @param    *string        creators           parameter: Optional
 * @param    *string        limit              parameter: Optional
 * @param    *string        modifiedSince      parameter: Optional
 * @param    *string        name               parameter: Optional
 * @param    *string        nameStartsWith     parameter: Optional
 * @param    *string        offset             parameter: Optional
 * @param    *string        orderBy            parameter: Optional
 * @param    *string        series             parameter: Optional
 * @param    *string        stories            parameter: Optional
 * @return	Returns the *models_pkg.EventDataWrapper response from the API call
 */
func (me *CHARACTERS_IMPL) GetCharacterEventsCollection (
            characterId string,
            comics *string,
            creators *string,
            limit *string,
            modifiedSince *string,
            name *string,
            nameStartsWith *string,
            offset *string,
            orderBy *string,
            series *string,
            stories *string) (*models_pkg.EventDataWrapper, error) {
        //the base uri for api requests
    _queryBuilder := marvelcomics_lib.BASEURI;

    //prepare query string for API call
   _queryBuilder = _queryBuilder + "/characters/{characterId}/events"

    //variable to hold errors
    var err error = nil
    //process optional query parameters
    _queryBuilder, err = apihelper_pkg.AppendUrlWithTemplateParameters(_queryBuilder, map[string]interface{} {
        "characterId" : characterId,
    })
    if err != nil {
        //error in template param handling
        return nil, err
    }

    //process optional query parameters
    _queryBuilder, err = apihelper_pkg.AppendUrlWithQueryParameters(_queryBuilder, map[string]interface{} {
        "comics" : comics,
        "creators" : creators,
        "limit" : limit,
        "modifiedSince" : modifiedSince,
        "name" : name,
        "nameStartsWith" : nameStartsWith,
        "offset" : offset,
        "orderBy" : orderBy,
        "series" : series,
        "stories" : stories,
        "apikey" : marvelcomics_lib.Config.Apikey,
    })
    if err != nil {
        //error in query param handling
        return nil, err
    }

    //validate and preprocess url
    _queryBuilder, err = apihelper_pkg.CleanUrl(_queryBuilder)
    if err != nil {
        //error in url validation or cleaning
        return nil, err
    }

    //prepare headers for the outgoing request
    headers := map[string]interface{} {
        "user-agent" : "APIMATIC 2.0",
        "accept" : "application/json",
    }

    //prepare API request
    _request := unirest.Get(_queryBuilder, headers)
    //and invoke the API call request to fetch the response
    _response, err := unirest.AsString(_request);
    if err != nil {
        //error in API invocation
        return nil, err
    }

    //error handling using HTTP status codes
    if (_response.Code == 409) {
        err = apihelper_pkg.NewAPIError("Limit greater than 100.", _response.Code, _response.RawBody)
    } else if (_response.Code < 200) || (_response.Code > 206) { //[200,206] = HTTP OK
            err = apihelper_pkg.NewAPIError("HTTP Response Not OK", _response.Code, _response.RawBody)
        }
    if(err != nil) {
        //error detected in status code validation
        return nil, err
    }

    //returning the response
    var retVal *models_pkg.EventDataWrapper = &models_pkg.EventDataWrapper{}
    err = json.Unmarshal(_response.RawBody, &retVal)

    if err != nil {
        //error in parsing
        return nil, err
    }
    return retVal, nil
}

/**
 * Fetches lists of series filtered by a character id.
 * @param    string         characterId         parameter: Required
 * @param    *string        comics              parameter: Optional
 * @param    *string        contains            parameter: Optional
 * @param    *string        creators            parameter: Optional
 * @param    *string        events              parameter: Optional
 * @param    *string        limit               parameter: Optional
 * @param    *string        modifiedSince       parameter: Optional
 * @param    *string        offset              parameter: Optional
 * @param    *string        orderBy             parameter: Optional
 * @param    *string        seriesType          parameter: Optional
 * @param    *string        startYear           parameter: Optional
 * @param    *string        stories             parameter: Optional
 * @param    *string        title               parameter: Optional
 * @param    *string        titleStartsWith     parameter: Optional
 * @return	Returns the *models_pkg.SeriesDataWrapper response from the API call
 */
func (me *CHARACTERS_IMPL) GetCharacterSeriesCollection (
            characterId string,
            comics *string,
            contains *string,
            creators *string,
            events *string,
            limit *string,
            modifiedSince *string,
            offset *string,
            orderBy *string,
            seriesType *string,
            startYear *string,
            stories *string,
            title *string,
            titleStartsWith *string) (*models_pkg.SeriesDataWrapper, error) {
        //the base uri for api requests
    _queryBuilder := marvelcomics_lib.BASEURI;

    //prepare query string for API call
   _queryBuilder = _queryBuilder + "/characters/{characterId}/series"

    //variable to hold errors
    var err error = nil
    //process optional query parameters
    _queryBuilder, err = apihelper_pkg.AppendUrlWithTemplateParameters(_queryBuilder, map[string]interface{} {
        "characterId" : characterId,
    })
    if err != nil {
        //error in template param handling
        return nil, err
    }

    //process optional query parameters
    _queryBuilder, err = apihelper_pkg.AppendUrlWithQueryParameters(_queryBuilder, map[string]interface{} {
        "comics" : comics,
        "contains" : contains,
        "creators" : creators,
        "events" : events,
        "limit" : limit,
        "modifiedSince" : modifiedSince,
        "offset" : offset,
        "orderBy" : orderBy,
        "seriesType" : seriesType,
        "startYear" : startYear,
        "stories" : stories,
        "title" : title,
        "titleStartsWith" : titleStartsWith,
        "apikey" : marvelcomics_lib.Config.Apikey,
    })
    if err != nil {
        //error in query param handling
        return nil, err
    }

    //validate and preprocess url
    _queryBuilder, err = apihelper_pkg.CleanUrl(_queryBuilder)
    if err != nil {
        //error in url validation or cleaning
        return nil, err
    }

    //prepare headers for the outgoing request
    headers := map[string]interface{} {
        "user-agent" : "APIMATIC 2.0",
        "accept" : "application/json",
    }

    //prepare API request
    _request := unirest.Get(_queryBuilder, headers)
    //and invoke the API call request to fetch the response
    _response, err := unirest.AsString(_request);
    if err != nil {
        //error in API invocation
        return nil, err
    }

    //error handling using HTTP status codes
    if (_response.Code == 409) {
        err = apihelper_pkg.NewAPIError("Limit greater than 100.", _response.Code, _response.RawBody)
    } else if (_response.Code < 200) || (_response.Code > 206) { //[200,206] = HTTP OK
            err = apihelper_pkg.NewAPIError("HTTP Response Not OK", _response.Code, _response.RawBody)
        }
    if(err != nil) {
        //error detected in status code validation
        return nil, err
    }

    //returning the response
    var retVal *models_pkg.SeriesDataWrapper = &models_pkg.SeriesDataWrapper{}
    err = json.Unmarshal(_response.RawBody, &retVal)

    if err != nil {
        //error in parsing
        return nil, err
    }
    return retVal, nil
}

/**
 * Fetches lists of stories filtered by a character id.
 * @param    string         characterId       parameter: Required
 * @param    *string        comics            parameter: Optional
 * @param    *string        creators          parameter: Optional
 * @param    *string        events            parameter: Optional
 * @param    *string        limit             parameter: Optional
 * @param    *string        modifiedSince     parameter: Optional
 * @param    *string        offset            parameter: Optional
 * @param    *string        orderBy           parameter: Optional
 * @param    *string        series            parameter: Optional
 * @return	Returns the *models_pkg.StoryDataWrapper response from the API call
 */
func (me *CHARACTERS_IMPL) GetCharacterStoryCollection (
            characterId string,
            comics *string,
            creators *string,
            events *string,
            limit *string,
            modifiedSince *string,
            offset *string,
            orderBy *string,
            series *string) (*models_pkg.StoryDataWrapper, error) {
        //the base uri for api requests
    _queryBuilder := marvelcomics_lib.BASEURI;

    //prepare query string for API call
   _queryBuilder = _queryBuilder + "/characters/{characterId}/stories"

    //variable to hold errors
    var err error = nil
    //process optional query parameters
    _queryBuilder, err = apihelper_pkg.AppendUrlWithTemplateParameters(_queryBuilder, map[string]interface{} {
        "characterId" : characterId,
    })
    if err != nil {
        //error in template param handling
        return nil, err
    }

    //process optional query parameters
    _queryBuilder, err = apihelper_pkg.AppendUrlWithQueryParameters(_queryBuilder, map[string]interface{} {
        "comics" : comics,
        "creators" : creators,
        "events" : events,
        "limit" : limit,
        "modifiedSince" : modifiedSince,
        "offset" : offset,
        "orderBy" : orderBy,
        "series" : series,
        "apikey" : marvelcomics_lib.Config.Apikey,
    })
    if err != nil {
        //error in query param handling
        return nil, err
    }

    //validate and preprocess url
    _queryBuilder, err = apihelper_pkg.CleanUrl(_queryBuilder)
    if err != nil {
        //error in url validation or cleaning
        return nil, err
    }

    //prepare headers for the outgoing request
    headers := map[string]interface{} {
        "user-agent" : "APIMATIC 2.0",
        "accept" : "application/json",
    }

    //prepare API request
    _request := unirest.Get(_queryBuilder, headers)
    //and invoke the API call request to fetch the response
    _response, err := unirest.AsString(_request);
    if err != nil {
        //error in API invocation
        return nil, err
    }

    //error handling using HTTP status codes
    if (_response.Code == 409) {
        err = apihelper_pkg.NewAPIError("Limit greater than 100.", _response.Code, _response.RawBody)
    } else if (_response.Code < 200) || (_response.Code > 206) { //[200,206] = HTTP OK
            err = apihelper_pkg.NewAPIError("HTTP Response Not OK", _response.Code, _response.RawBody)
        }
    if(err != nil) {
        //error detected in status code validation
        return nil, err
    }

    //returning the response
    var retVal *models_pkg.StoryDataWrapper = &models_pkg.StoryDataWrapper{}
    err = json.Unmarshal(_response.RawBody, &retVal)

    if err != nil {
        //error in parsing
        return nil, err
    }
    return retVal, nil
}

/**
 * Fetches lists of characters.
 * @param    *string        comics             parameter: Optional
 * @param    *string        events             parameter: Optional
 * @param    *string        limit              parameter: Optional
 * @param    *string        modifiedSince      parameter: Optional
 * @param    *string        name               parameter: Optional
 * @param    *string        nameStartsWith     parameter: Optional
 * @param    *string        offset             parameter: Optional
 * @param    *string        orderBy            parameter: Optional
 * @param    *string        series             parameter: Optional
 * @param    *string        stories            parameter: Optional
 * @return	Returns the *models_pkg.CharacterDataWrapper response from the API call
 */
func (me *CHARACTERS_IMPL) GetCharacterCollection (
            comics *string,
            events *string,
            limit *string,
            modifiedSince *string,
            name *string,
            nameStartsWith *string,
            offset *string,
            orderBy *string,
            series *string,
            stories *string) (*models_pkg.CharacterDataWrapper, error) {
        //the base uri for api requests
    _queryBuilder := marvelcomics_lib.BASEURI;

    //prepare query string for API call
   _queryBuilder = _queryBuilder + "/characters"

    //variable to hold errors
    var err error = nil
    //process optional query parameters
    _queryBuilder, err = apihelper_pkg.AppendUrlWithQueryParameters(_queryBuilder, map[string]interface{} {
        "comics" : comics,
        "events" : events,
        "limit" : limit,
        "modifiedSince" : modifiedSince,
        "name" : name,
        "nameStartsWith" : nameStartsWith,
        "offset" : offset,
        "orderBy" : orderBy,
        "series" : series,
        "stories" : stories,
        "apikey" : marvelcomics_lib.Config.Apikey,
    })
    if err != nil {
        //error in query param handling
        return nil, err
    }

    //validate and preprocess url
    _queryBuilder, err = apihelper_pkg.CleanUrl(_queryBuilder)
    if err != nil {
        //error in url validation or cleaning
        return nil, err
    }

    //prepare headers for the outgoing request
    headers := map[string]interface{} {
        "user-agent" : "APIMATIC 2.0",
        "accept" : "application/json",
    }

    //prepare API request
    _request := unirest.Get(_queryBuilder, headers)
    //and invoke the API call request to fetch the response
    _response, err := unirest.AsString(_request);
    if err != nil {
        //error in API invocation
        return nil, err
    }

    //error handling using HTTP status codes
    if (_response.Code == 409) {
        err = apihelper_pkg.NewAPIError("Limit greater than 100.", _response.Code, _response.RawBody)
    } else if (_response.Code < 200) || (_response.Code > 206) { //[200,206] = HTTP OK
            err = apihelper_pkg.NewAPIError("HTTP Response Not OK", _response.Code, _response.RawBody)
        }
    if(err != nil) {
        //error detected in status code validation
        return nil, err
    }

    //returning the response
    var retVal *models_pkg.CharacterDataWrapper = &models_pkg.CharacterDataWrapper{}
    err = json.Unmarshal(_response.RawBody, &retVal)

    if err != nil {
        //error in parsing
        return nil, err
    }
    return retVal, nil
}

